.idea:
  -dataSources:
    -34bd04f8-df31-4af4-b676-e403af35c16b
  -inspectionProfiles:
    -profiles-settings
  -libraries:
    -Django_Lib
  -dataSources.local
  -dataSources
  -misc
  -modules
  -shop_back.iml
  -workspace
-venv:
  -Include:
  -Lib:
    -site-packages:
      -__pycache__
      -django
      -Django-2.2.11.dist-info
      -pip
      -pip-19.2.3.dist-info
      -pkg_resources
      -pytz
      -pytz-2019.3dist-info
      -setuptools
      -setuptools-41.2.0.dist-info
      -sqlparse
      -sqlparse-0.3.1.dist-info
      -easy_install
  -Scripts:
    -__pycache__:
      -django-admin.cpython-38.pyc
    -activate
    -activate
    -Activate
    -deactivate
    -django-admin
    -django-admin
    -easy_install
    -easy_install-3.8
    -pip
    -pip3.8
    -pip3
    -python
    -pythonw
    -sqlformat
  -pyvenv.cfg
